[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"

[dev-packages]
pylint = "*"
bandit = "*"

[requires]
python_version = "3.8"
